* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* header */
.header-top {
    background: #f2f2f2;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 3;
}

.header-right {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right .logo {
    margin-right: 5px;
}

h1 {
    margin: -8px 80px 0 0;
    font-size: 40px;
    color: #222;
}

.header-left {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-left .shopping-cart {
    margin-left: 25px;
    cursor: pointer;
}

.header-left .login-btn {
    width: 130px;
    height: 40px;
    border: 1px solid rgba(35, 47, 85, 0.15);
    padding: 10px 20px;
    background: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}

.header-left .login-btn:hover {
    width: 140px;
    background: #f97c37;
    color: #fff;
    font-weight: 500;
    border: none;
}

/*search section*/
.header-mid {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 50px;
    background: #fff;
}

.header-mid form {
    position: absolute;
    top: 5px;
    left: 30%;
    margin: auto;
}

.search-btn {
    width: 400px;
    height: 40px;
    border: 1px solid rgba(35, 47, 85, 0.15);
    padding: 10px 20px;
    margin: 0 75px;
    background: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 16px;
}

.search-btn:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    top: 18%;
    left: 100px;
    cursor: pointer;
    font-size: 22px;
    color: #f97c37;
}

/* nav bar */
.header-bottom .navBar {
    width: 100%;
    height: 80px;
    background: #fff;
    position: absolute;
    top: 150px;
    left: 0;
    padding: 0 40px;
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0;
    list-style: none;
    font-size: 18px;
}

.navBar ul li a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-weight: 600;
}

.navBar ul li a:hover {
    color: #f97c37;
}

/* main */
main {
    width: 100%;
    height: 200vh;/*temporary*/
    background: #e5e5e5;
    color: #222;
    padding: 40px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 350px;
    padding: 30px 40px;
}

.container .con-right {
    width: 50%;
    margin: 0 20px;
    /*   padding: 0 20px;  */
    box-shadow: 60px 30px #f97c37, 60px -60px #f97c37;
}

.container .con-right img {
    width: 100%;
    height: 500px;
    /*   margin: 10px; */
}

.container .con-left {
    width: 50%;
    margin: 0 20px;
    /*  padding: 0 20px; */
    box-shadow: -60px -30px #f97c37, -60px 60px #f97c37;
}

.container .con-left img {
    width: 100%;
    height: 500px;
    /*  margin: 10px; */
}

footer {
    height: 300px;
    background: #333;
    color: #fff;
    padding: 20px 40px ;
}

footer h3 {
    margin-bottom: 20px;
}

footer p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 2em;
}

hr {
    width: 50%;
   margin: 80px auto 0;
   color: #fff;
}
 
.socials {
    text-align: center;
    margin: 20px;
}

.socials i {
    margin: 0 10px;
    padding: 10px;
    font-size: 24px;
}